/* Reset Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Arial, sans-serif;
  background: #f2f5f9;
  color: #333;
  line-height: 1.6;
}

/* NAVBAR */
.navbar {
  background: #ffffff;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #ddd;
  z-index: 100;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #0066ff;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  font-weight: 600;
  color: #333;
  transition: 0.3s;
}

nav a:hover {
  color: #0066ff;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 40px;
}

.hero-text {
  max-width: 500px;
}

.hero-text h1 {
  font-size: 3rem;
}

.hero-text span {
  color: #0066ff;
}

.hero p {
  margin: 20px 0;
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  background: #0066ff;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  margin-top: 10px;
}

.hero-img {
  width: 300px;
  border-radius: 15px;
}

/* ABOUT */
.about {
  padding: 50px 40px;
  background: white;
}

h2 {
  margin-bottom: 15px;
  color: #0066ff;
}

/* SKILLS */
.skills {
  padding: 50px 40px;
}

.skill-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
}

.skill-card {
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
  border: 1px solid #ddd;
  transition: 0.3s;
}

.skill-card:hover {
  transform: translateY(-5px);
  border-color: #0066ff;
}

/* PROJECTS */
.projects {
  padding: 50px 40px;
  background: white;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.project-card {
  background: #fafafa;
  padding: 15px;
  border-radius: 12px;
  transition: 0.3s;
}

.project-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 12px;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* CONTACT */
.contact {
  padding: 50px 40px;
}

.contact-form {
  background: white;
  padding: 25px;
  border-radius: 12px;
  max-width: 500px;
}

input, textarea {
  width: 100%;
  padding: 12px;
  margin: 6px 0 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  background: #0066ff;
  color: white;
}
